In [1]:
#sijisha paul_25070123138
#exp3: study of tupple in python
tpl=(2,"sijisha",True)
print(tpl)

(2, 'sijisha', True)

In [3]:
tpl1=("apple","banana","orange")
tpl1[1]="kiwi"
print(tpl1)

TypeError: 'tuple' object does not support item assignment

In [4]:
tpl3=(10,)*5
print(tpl3)

(10, 10, 10, 10, 10)

In [5]:
tpl4=(10)*5
print(tpl4)

50

In [6]:
list=["symbiosis",]*5
print(list)

['symbiosis', 'symbiosis', 'symbiosis', 'symbiosis', 'symbiosis']

In [7]:
tpl4=("apple","banana","orange")
print("before:",id(tpl4))
tpl5=("mango",)
tpl4+=tpl5
print(tpl4)
print("after:",id(tpl4))

before: 135628837782336
('apple', 'banana', 'orange', 'mango')
after: 135628443886960

In [8]:
tpl4=["apple","banana","orange"]
print("before:",id(tpl4))
tpl5=["mango",]
tpl4+=tpl5
print(tpl4)
print("after:",id(tpl4))

before: 135628432376384
['apple', 'banana', 'orange', 'mango']
after: 135628432376384

In [9]:
marks=(78,85,90,66,88)
print(max(marks))
print(min(marks))
print(len(marks))
print(sum(marks))
print(sum(marks)/len(marks))
"maximum marks:"
"minimum marks:"
"total marks:"
"numberof students:"
"calculate average marks:"
"sort the marks in ascending order"

90
66
5
407
81.4

'sort the marks in ascending order'

In [15]:
#result analysis
result=("maths",82,"A")

#unpack the tupple
subject,marks,grade=result

subject,mark,gade=(result)

#display the result details
print("subject:",subject)
print("marks:",marks)
print("grade:",grade)

# check for distinction
if marks>=75:
  print("distinction")
else:
  print("not distinction")

subject: maths
marks: 82
grade: A
distinction

In [19]:
#monitoring attendance
attendance=("P","A","P","A","P","P")
print("Total present days:",attendance.count("P"))
print("Total absent days:",attendance.count("A"))
if "A" in attendance:
  print("employee was absent atleast once")

Total present days: 4
Total absent days: 2
employee was absent atleast once